*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    color:white;
    overflow:hidden;
}

.video-container{
    position:fixed;
    inset:0;
    z-index:-3;
}

.video-container iframe{
    position:absolute;
    top:50%;
    left:50%;
    width:177.77vh;
    height:56.25vw;
    min-width:100%;
    min-height:100%;
    transform:translate(-50%,-50%);
    pointer-events:none;
}

.overlay{
    position:fixed;
    inset:0;
    background:rgba(0,0,0,.72);
    z-index:-2;
}

.hero{
    max-width:900px;
    margin:auto;
    min-height:100vh;

    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;

    text-align:center;

    padding:40px;
}

.hero h1{

    font-size:70px;

    color:#d62828;

    margin-bottom:15px;

}

.hero>p{

    font-size:22px;

    color:#d5d5d5;

    margin-bottom:50px;

}

.about{

    background:rgba(30,30,30,.80);

    backdrop-filter:blur(8px);

    border:1px solid rgba(255,255,255,.08);

    border-radius:18px;

    padding:35px;

    margin-bottom:40px;

}

.about h2{

    margin-bottom:20px;

    color:#d62828;

}

.about p{

    line-height:1.8;

    color:#d5d5d5;

    margin-bottom:18px;

}

.about ul{

    list-style:none;

}

.about li{

    padding:10px;

    font-size:18px;

}

.buttons{

    display:flex;

    gap:20px;

}

.buttons a{

    text-decoration:none;

    padding:16px 45px;

    border-radius:10px;

    font-size:18px;

    transition:.25s;

}

.btn-primary{

    background:#d62828;

    color:white;

}

.btn-primary:hover{

    background:#b71c1c;

    transform:translateY(-3px);

}

.btn-secondary{

    background:#343434;

    color:white;

}

.btn-secondary:hover{

    background:#4b4b4b;

    transform:translateY(-3px);

}

@media(max-width:900px){

    .hero h1{

        font-size:48px;

    }

    .buttons{

        flex-direction:column;

        width:100%;

    }

    .buttons a{

        width:100%;

    }

}

.credits{
    position: fixed;
    right: 20px;
    bottom: 20px;

    display: flex;
    align-items: center;
    gap: 8px;

    padding: 10px 15px;

    background: rgba(0,0,0,0.45);
    backdrop-filter: blur(8px);

    border: 1px solid rgba(255,255,255,0.12);
    border-radius: 12px;

    color: #fff;
    font-size: 13px;
    font-family: Arial, sans-serif;

    z-index: 9999;
}

.credits a{
    color: red;
    text-decoration: none;
    font-weight: 600;
    transition: .3s;
}

.credits a:hover{
    color: #ffffff;
    text-shadow: 0 0 10px red;
}

.video-container{
    position:fixed;
    inset:0;
    overflow:hidden;
    z-index:-2;
}

.video-container iframe{
    position:absolute;
    top:50%;
    left:50%;
    width:177.77777778vh;
    height:56.25vw;
    min-width:100%;
    min-height:100%;
    transform:translate(-50%,-50%);
    pointer-events:none;
}

.video-container::after{
    content:"";
    position:absolute;
    inset:0;
    background:rgba(0,0,0,.35);
}